*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.idea/*
datasets/*
experiments/*
results/*
scripts/*
tb_logger/*
test_scripts/*
tests/*

mytest/*

# ASVSR
lbasicsr/archs/ablation
lbasicsr/archs/stan
lbasicsr/archs/asvsr*
lbasicsr/models/asvsr*

lbasicsr/data/psnr_log
lbasicsr/data/gen_lr_log
lbasicsr/data/psnr_test.sh

options/train/ASVSR
options/test/ASVSR

ablation.sh
run_bash.sh
run_test.py
nohup.out
train_ovsr.sh
work_dir/
.vscode/
